body {
    background-color: #7f8c8d;
    line-height: 1;
    margin: 0;
}
header,
footer {
    display: block;
}
h1,a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    margin: 0;
    letter-spacing: 2px;
    line-height: 33px;
   
}

h2 {
    color: #2c3e50;
    margin: 0 0 3px 0;
}
h3 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: 25px;
    color: #2c3e50;
}
div.rightDate {
    display: flex;
    justify-content: flex-end;
}
p {
    text-align: justify;
    letter-spacing: 1px;
    font-size: 17px;
    line-height: 1.2;
}

.container {
    margin: 0;
}

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
/*    align-items: center;*/
}

.row::after {
    display: table;
    clear: both;
    content: "";
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
*{
    box-sizing: border-box;
}

div.wid {
    width: 100%;
    display: flex;
}
    




div.menu {
    width: 30%;
    border-right: 1px solid black;
    background-color: #34495e;
}
div.details{
    background-color: #ecf0f1;
    width: 70%;
    padding: 0 50px;
}

/**********DISPLAY LEFT**************/

article.displayAbout div.workExp,
article.displayAbout div.skills,
article.displayAbout div.education {
    display: none;
}
article.displayWork div.about,
article.displayWork div.skills,
article.displayWork div.education {
    display: none;
}
article.displaySkill div.about,
article.displaySkill div.workExp,
article.displaySkill div.education {
    display: none;
}
article.displayEducation div.about,
article.displayEducation div.workExp,
article.displayEducation div.skills{
    display: none;
}
/**********CUSTOMIZARE*****************/

div.rwtabel{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
div.labelS {
    width: 50%;
    margin: 0;
    
}
div.pracSk{
   width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
div.listPpl{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.labelS h4 {
    text-align: center;
     text-decoration: underline;
    font-size: 22px;
    margin-bottom:  5px;
    color: #2c3e50;
}
div.labelS ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 30px;
/*    text-align: justify;*/
    letter-spacing: 1px;
}
div.imagine img {
    border-radius: 50%;
    border: 1px solid #fff;
}
div.imagine {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
div.left-text {
    width: 100%;
    padding: 0px 0px 15px 20px
    
}
div.left-text img {
 width: 25px;
}
a:hover {
    text-decoration: underline;
/*    opacity: 0.8;*/
    color: #bdc3c7;
}
hr {
    margin-right: 2%;
}

div.dropdownMenu {
    display: none;
}

@media only screen and (max-device-width: 680px)  {
    
    div.wid {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
       
    }
    
    div.menu {
        width: 100%;
        border: 0;
    }
    
    div.details {
        width: 100%;
        padding: 0 10px;
    }
    div.left-text{
        padding: 0 20px 0 20px;
    }
    hr{
        margin: 2px 0 5px 0;
    }
/*
    #navAbout{
        width:50%;
        display: flex;
        float: left;
    }
*/
    div.dropdownMenu {
       width: 100%;
       display: flex;
        justify-content: center;
}
    div.dropdownMenu a {
        width: 100%;
        text-align: center;
    }
    div.nav {
        display: none;
    }
    div.navResp {
        display: contents;
    }
    div.rwtabel {
        display: block;
        display: flex;
        justify-content: center;
        
     
    }
}